Binaries
DerivedDataCache
Intermediate
Saved
Content/Assets
Content/__*
Content/StarterContent
Source/Runner/baselines
Source/Runner/custom_env/__pycache__
Packed
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.zip
*.sln
*.suo
*.xcodeproj
*.xcworkspace
/Assets
/Build/Windows/FileOpenOrder
/StarterContent
/__ExternalActors__
/__ExternalObjects__
/Map.umap
/Map_HLOD0_Instancing.uasset
/.vsconfig
