Binaries
DerivedDataCache
Intermediate
Saved
Content/Assets
Content/__*
Source/Runner/baselines
Source/Runner/custom_env/__pycache__
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace